body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.error-message {
  color: red;
  font-weight: bold;
}

form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 10px;
}
